@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
.contacto3{
    padding:0px  40px;
    margin-bottom: 10px;
    font-weight: 400;
    flex-basis: 50%;
    line-height: 2;
}

.contacto3 h3{
    color:#08046A;
    text-shadow: 1px 1px 2px #F58105;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: 'Handlee', cursive;
}

.icono{
    margin-bottom: 2px;
    


     
}
#imagen{
    text-align: center;
    border-radius: 10px;
    border: 3px solid #F58105;
    margin: 30px auto;
    box-shadow: 3px 3px 5px #08046A;
   }

@media screen and (min-width:768px){
    .contacto4{
        flex-basis: 50%;
    }
}


