.confiables{
	background: url(./confiables.png);
	background-size: cover;
	max-width: 100%;
	padding: 30px 0;
}
.confiables h1{
	font-family:"chewy";
	color:#4E4F51;
	margin-top: 10px;
	text-align: center;

}
.iconosconfiables{
	margin-top: 30px;
	text-align: center;
}
.iconosconfiables a{
	font-family:"chewy";
	text-decoration: none;
	color:#4E4F51; /*NUEVO COLOR DE GRIS*/
	font-size:30px;

}