.container8{
    background-image: url(./conocenos.png);
    background-repeat: no-repeat;
}

.padres{	
	padding: 20px;
}


.logo2{
	text-align: left;
	font-family:"chewy";
	color:#4E4F51;
	}

.logo2 img{
	max-width: 150px;
	width: 100%;
}

 .logo2 h5{
 	
  	font-size: 14px;
 }

 .home img{
	width: 70px;
	opacity: 0.6;
}

.card3{
    max-width: 540px;
	margin: auto;
	text-align: center;
	font-family: 'Montserrat';
	background-color: rgba(250,243,221,0.3);
	box-shadow: 3px 3px 5px #4E4F51;
	border-radius: 10px;

	}

.card3 img{
		max-width: 150px;
		padding-top: 40px;
	
	}

.card-title{
		font-weight: bold;

}
.card-text{
	text-align: justify;
}

.card-body a{
		color: #4E4F51;
		font-weight: bolder;
		font-size: 14px;
}



